.container{
    width: 500px;
    height: 600px;
    text-align: center;
    margin: auto;
}

.row{
    display: flex;
    flex-grow: 1;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.btn{
    flex-grow: 1;
    margin: 5px;
    font-size: 5em;
    font-weight: bold;
    width: 90px;
    height: 90px;
}

.xbtn{
    color: black;
}

.obtn{
    color: brown;
}